/* 
Colors 

- #F7F7F7 (Wild Sand) - Background
- #191A1A (Woodsmoke) - Text
- #c22929 (Tall Poppy) - Accents
- #4795c9 (blue) - Buttons
- #ffa203 (orange) - Nav bar

 */

@font-face {
    font-family: custom;
    src: url(APHont.ttf);
}

* {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    font-family: custom
}

/* Navigation Bar */
header {
    background-color: #ffa203;
    height: 50;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 17px;
    background-color: #ffa203;
}

ul li {
    display: inline-block;
    background-color: #ffa203;
}

ul li a {
    text-decoration: none;
    color: #28233C;
    background-color: #ffa203;
    padding: 5px 20px;
    border: 1px solid #28233C;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 10px;
}

ul li a:hover {
    background-color: #28233C;
    color: #ffa203;
}

ul li.active a {
    background-color: #28233C;
    color: #ffa203;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.nav {
    max-width: 1200px;
    margin: auto;
}

/* Product Page */
.main {
    max-width: 1250px;
    margin: auto;
    margin-top: 40px;
}

.btns {
    outline: none;
    text-decoration: none;
    color: #28233C;
    background-color: #4795c9;
    color: #28233C;
    font-size: 20px;
    padding: 15px 20px;
    border: 1px solid #2f6488;
}

.info_section_hide {
    display: none;
 }

.info_section_show {
    border: 1px solid #bfbfbf transparent;
    padding: 10px 15px;
    margin-top: -1px;
    margin-bottom: 1px;
    color: #191A1A;
}

.product_image {
    width: 100%;
    height: auto;
}

.teams {
      position: relative;
      }

.description {
      position: absolute;
      bottom: 0;
      background-color: rgba(200, 200, 200, 0.85);
      opacity: 0;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease;
      }

.teams:hover .description {
      opacity:1;
      }

/* Team page */
.our-team{
    overflow: hidden;
    text-align: center;
    
}
.our-team h1{
    text-transform: uppercase;
    margin: 60px;
    color: #191A1A;
    font-weight: bold;
    padding-bottom: 10px;
}
